.full-width-input {
  width: 100%;
}
.contact-form input {
  margin-bottom: 15px;
}
.half-width-input {
  width: 49%;
}
::placeholder {
  color: #141628;
}

@media only screen and (max-width: 688px) {
  .half-width-input {
    width: 100% !important;
  }
}
